{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Rust BaseFinder</title>
        <!-- bootstrap cdn -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
        <link rel="stylesheet" href="{% static "stylesheet.css" %}?v=70" type="text/css">
        <script src="https://www.w3schools.com/lib/w3.js"></script>
        <script>
            $(document).ready(function(){
                $('[data-toggle="popover"]').popover({
                    placement : 'top',
                    trigger : 'hover'
                });
            });
        </script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108812754-4"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-108812754-4');
        </script>
        <link rel="shortcut icon" href="{% static "favicon.ico" %}" type="image/x-icon">
        <link rel="icon" href="{% static "favicon.ico" %}" type="image/x-icon">
        <meta content='maximum-scale=1.0, initial-scale=1.0, width=device-width' name='viewport'>
        <script type="text/javascript">
          window._mNHandle = window._mNHandle || {};
          window._mNHandle.queue = window._mNHandle.queue || [];
          medianet_versionId = "3121199";
        </script>
        <script src="https://contextual.media.net/dmedianet.js?cid=8CU682C6F" async="async"></script>
    </head>
    <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">
              <img class="logoImage" width="30" height="30" src="{% static "Logo.png" %}">
              RUST BASEFINDER
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="/log_out">Log Out</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/submit">Add a Design</a>
                </li>
                {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="/log_in">Log In</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/sign_up">Sign Up</a>
                </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Leaderboards
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="/efficiency_leaderboard">Efficiency Leaderboard</a>
                      <a class="dropdown-item" href="/defense_leaderboard">Defense Leaderboard</a>
                      <a class="dropdown-item" href="/all_bases">All Designs</a>
                    </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/sponsor">Advertise</a>
                </li>
            </ul>
            </div>
        </div>
      </nav>

          <br>
          <div class="container">
            <h2>About Rust BaseFinder <small>(Beta)</small></h2>
            <h3>The Basics</h3>
            <p>Rust BaseFinder is a site which allows users to search for base designs based on a variety of factors, and allows content creators to advertise their bases by uplaoding them to the site.</p>
            <p>By uploading base designs to this site, creators and users can more easily share and find the perfect base for their wipe.</p>
            
            <br>
            <h3>How It Works</h3>
            <p>Anybody can add a base to the site by going to the 'Submit a Design' page, and filling in the form. Once the form is filled in the site will automatically work out the efficiency rating of the base, and add it to the list on the homepage.</p>
            
            <br>
            <h3>The Maths</h3>
            <p>To work out the cost in scrap of the base, the site uses the following conversion rate:</p>
            <p>1 Scrap = 20 Stone = 10 Frags = 0.5 HiQual</p>
            <p>This conversion rate has been calculated using the cost of resources in scrap at the outpost.</p>
            <p>To calculate the effiency rating of the base, the site divides the rockets required to raid by the upkeep cost of the base. This rating is reflective of how efficient the base is at protecting your loot.</p>
          </div>
          <br>
          <footer>
            <div class="container">
              <br>
              <div class="row">
                <div class="col-sm-3">
                  <h4>Disclaimer</h4>
                  <p>Rust Basefinder is simply a collection of YouTube videos. We have no intellectual right over the videos linked on our site, and similarly we are not responsible for any of the views or actions presented in videos linked on this site.</p>
                </div>
                <div class="col-sm-3">
                  <h4>Contact</h4>
                  <p>To contact Ethan LeSage, the creator of this site, please join our Discord: <a href="https://discord.gg/yXBE9cf">https://discord.gg/yXBE9cf</a></p>
                </div>
                <div class="col-sm-6">
                  <h4>Rules</h4>
                  <p>Currently anyone can post to this site, however if rules are broken we may need to limit who is allowed to post. The rules currently are:</p>
                  <ul>
                    <li>No profanity is to be posted anywhere to the site.</li>
                    <li>You are not to lie about raid cost, build cost or upkeep cost.</li>
                    <li>'Extra Features' must be kept short.</li>
                  </ul>
                  <p>We reserve the right to remove base submissions at will.</p>
                </div>
              </div>
            </div>
          </footer>
    </body>
</html>